*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: rgb(254, 238, 241);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
   
    background: #fb3fa6;
background: linear-gradient(352deg, rgba(251, 63, 166, 1) 0%, rgba(237, 192, 200, 1) 95%);
    padding: 2px;
}

header img{
    width: 110px;
    display: flex;
    margin: 5px;
    margin-top: 15px;
}
header h1{
    color: black;
    text-align: center;
    margin-top: -10px;
}
h2{
    padding-left: 25px;
    text-align: justify;
    color: rgb(16, 9, 10);
}


nav{
    background: linear-gradient(352deg, rgba(251, 63, 166, 1) 0%, rgba(237, 192, 200, 1) 95%);
    padding: 10px;
    
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
li a{
    text-decoration: none;
    position: sticky;
    font-size: 1rem;
    color: #ffffff;
}
section{
    margin: 15px;
}

main img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*padding: 100px;*/
}

footer{
    background-color: gray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
   text-align: center;
    padding: 5px;
    font-size: 0.9rem;
}

#galeria h2{
font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards h2{
    margin-bottom: 10px;
}
.producto-card{
    background:  rgb(248, 209, 216);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    gap: 50px;
    margin: 20px;
}

.producto-card:hover{
    transform: translateY(-10px);
}

.button{
    display: flex;

}

.producto-card button{
    display: flex;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: #2f252b;
}
button{
    background: #fb3fa6;
background: linear-gradient(169deg, rgba(251, 63, 166, 1) 23%, rgba(237, 192, 200, 1) 69%);

}

.producto-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 0;
    border-radius: 10px;
}
@media (max-width: 480px) {
  .producto-card img {
    height: 180px;
  }
}

@media (max-width: 480px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
