*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: rgb(254, 238, 241);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
header{
    /* background-color: pink; */
    background: #fb3fa6;
background: linear-gradient(352deg, rgba(251, 63, 166, 1) 0%, rgba(237, 192, 200, 1) 95%);
    padding: 2px;
}

header img{
    width: 75px;
    display: flex;
    margin: 5px;
}
h1{
    color: black;
    text-align: center;
}



h2{
    padding-left: 25px;
    text-align: justify;
    color: rgb(16, 9, 10);
}


nav{
    /*background-color: rgb(249, 209, 216);*/
    background: linear-gradient(352deg, rgba(251, 63, 166, 1) 0%, rgba(237, 192, 200, 1) 95%);
    padding: 10px;
    
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
li a{
    text-decoration: none;
    position: sticky;
    font-size: 1rem;
    color: #ffffff;
}
section{
    margin: 15px;
}



footer{
    background-color: gray;
    height: 100px;
}

footer p{
    text-align: center;
    padding: 10px;
}


