*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: rgb(254, 238, 241);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    /* background-color: pink; */
    background: #fb3fa6;
background: linear-gradient(352deg, rgba(251, 63, 166, 1) 0%, rgba(237, 192, 200, 1) 95%);
    padding: 2px;
}

header img{
   width: 110px;
    display: flex;
    margin: 5px;
    margin-top: 15px;
}

header h1{
    color: black;
    text-align: center;
    margin-top: -10px;
}



h2{
    padding-left: 25px;
    text-align: justify;
    color: rgb(16, 9, 10);
}


nav{
    background: linear-gradient(352deg, rgba(251, 63, 166, 1) 0%, rgba(237, 192, 200, 1) 95%);
    padding: 10px;
    
}
nav ul, footer ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
li a, footer a{
    text-decoration: none;
    position: sticky;
    font-size: 1rem;
    color: #ffffff;
}
section{
    margin: 15px;
}

main img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 90vh;
    object-fit: cover;
    margin: 5% 5% 5% 8%;
    /*height: 100vh;*/
    /*padding: 100px;*/
}

footer{
    background-color: gray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer p{
    text-align: center;
    padding: 5px;
    font-size: 0.9rem;
}

footer ul{
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.footer-nav{
gap: 1.5rem;
display: flex;
justify-content: space-between;
justify-content: center;
}

.carousel{
    padding: 0 1rem;
}

.carousel-item img{
    height: 80vh;
}

.carousel-caption{
    background-color: rgba(0.1, 0.1, 0.1, 0.5);
    
}

.carousel button{
    background-color: rgb(252, 156, 172);
    height: 40px;
    width: auto;
    margin: auto;
}

@media (max-width: 480px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: rgb(254, 238, 241);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    /* background-color: pink; */
    background: #fb3fa6;
background: linear-gradient(352deg, rgba(251, 63, 166, 1) 0%, rgba(237, 192, 200, 1) 95%);
    padding: 2px;
}

header img{
    width: 110px;
    display: flex;
    margin: 5px;
    margin-top: 15px;
}
header h1{
    color: black;
    text-align: center;
    margin-top: -10px;
}


h2{
    padding-left: 25px;
    text-align: justify;
    color: rgb(16, 9, 10);
}


nav{
    background: linear-gradient(352deg, rgba(251, 63, 166, 1) 0%, rgba(237, 192, 200, 1) 95%);
    padding: 10px;
    
}
nav ul, footer ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
li a, footer a{
    text-decoration: none;
    position: sticky;
    font-size: 1rem;
    color: #ffffff;
}
section{
    margin: 15px;
}

footer{
    background-color: gray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    text-align: center;
    padding: 5px;
    font-size: 0.9rem;
}

footer ul{
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* Contenedor general */
.contenedor-form {
  max-width: 500px;
  margin: 50px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

/* Título */
.contenedor-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Formulario */
.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Cada campo */
.campo {
  display: flex;
  flex-direction: column;
}

/* Labels */
label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* Inputs y textarea */
input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  font-size: 14px;
}

/* Altura textarea */
textarea {
  min-height: 100px;
  resize: vertical;
}

/* Efecto al hacer click */
input:focus, textarea:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 6px rgba(0,123,255,0.3);
}

/* Botón */
.btn {
  background: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

/* Hover botón */
.btn:hover {
  background: #0056b3;
}
/* Contenedor de opciones (radio y checkbox) */
.opciones {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Cada opción */
.opcion {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: normal;
  cursor: pointer;
}

/* Inputs radio y checkbox */
.opcion input[type="radio"],
.opcion input[type="checkbox"] {
  accent-color: #007BFF; /* mismo azul que el botón */
  transform: scale(1.1);
  cursor: pointer;
}

/* Hover efecto */
.opcion:hover {
  color: #007BFF;
}


 .redes-flotantes{
  position: fixed;
  right: 0;              /* pegado al borde */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.redes-flotantes a{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  font-size: 22px;
  color: white;
  transition: all 0.3s ease;
}

/* WHATSAPP */
.redes-flotantes .whatsapp{
  background-color: #25D366;
}

.redes-flotantes .whatsapp:hover{
  background-color: #1ebe5d;
  transform: scale(1.1);
}

/* INSTAGRAM (gradiente) */
.redes-flotantes .instagram{
  background: linear-gradient(
    45deg,
    #f58529,
    #dd2a7b,
    #8134af,
    #515bd4
  );
}

.redes-flotantes .instagram:hover{
  transform: scale(1.1);
}


@media (max-width: 480px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: rgb(254, 238, 241);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
   
    background: #fb3fa6;
background: linear-gradient(352deg, rgba(251, 63, 166, 1) 0%, rgba(237, 192, 200, 1) 95%);
    padding: 2px;
}

header img{
    width: 110px;
    display: flex;
    margin: 5px;
    margin-top: 15px;
}
header h1{
    color: black;
    text-align: center;
    margin-top: -10px;
}
h2{
    padding-left: 25px;
    text-align: justify;
    color: rgb(16, 9, 10);
}


nav{
    background: linear-gradient(352deg, rgba(251, 63, 166, 1) 0%, rgba(237, 192, 200, 1) 95%);
    padding: 10px;
    
}
nav ul, footer ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
li a, footer a{
    text-decoration: none;
    position: sticky;
    font-size: 1rem;
    color: #ffffff;
}
section{
    margin: 15px;
}

main img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*padding: 100px;*/
}

footer{
    background-color: gray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
   text-align: center;
    padding: 5px;
    font-size: 0.9rem;
}

footer ul{
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#galeria h2{
font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards h2{
    margin-bottom: 10px;
}
.producto-card{
    background:  rgb(248, 209, 216);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    gap: 50px;
    margin: 20px;
}

.producto-card:hover{
    transform: translateY(-10px);
}

.button{
    display: flex;

}

.producto-card button{
    display: flex;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: #2f252b;
}
button{
    background: #fb3fa6;
background: linear-gradient(169deg, rgba(251, 63, 166, 1) 23%, rgba(237, 192, 200, 1) 69%);
padding: 5px;

}

.producto-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 0;
    border-radius: 10px;
}
@media (max-width: 480px) {
  .producto-card img {
    height: 180px;
  }
}

@media (max-width: 480px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body{
    background-color: rgb(254, 238, 241);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1; 
}

header{
    background: #fb3fa6;
background: linear-gradient(352deg, rgba(251, 63, 166, 1) 0%, rgba(237, 192, 200, 1) 95%);
    padding: 2px;
} 

header img{
    width: 110px;
    display: flex;
    margin: 5px;
    margin-top: 15px;
} 
header h1{
    color: black;
    text-align: center;
    margin-top: -10px;
}



h2{
    padding-left: 25px;
    text-align: justify;
    color: rgb(16, 9, 10);
}


nav{
    background: linear-gradient(352deg, rgba(251, 63, 166, 1) 0%, rgba(237, 192, 200, 1) 95%);
    padding: 10px;
    
}
nav ul, footer ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
li a, footer a{
    text-decoration: none;
    position: sticky;
    font-size: 1rem;
    color: #ffffff;
}
section{
    margin: 15px;
}



footer{
    background-color: gray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    text-align: center;
    padding: 5px;
    font-size: 0.9rem;
}

footer ul{
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 480px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.historia{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    line-height: 1.8;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.historia h2{
    text-align: center;
    margin-bottom: 20px;
}

.historia .intro{
    font-style: italic;
    font-size: 1.1rem;
    text-align: center;
    color: #555;
}

.historia .destacado{
    font-weight: bold;
    font-size: 1.05rem;
    color: #d63384;
    text-align: center;
}

.historia p{
    margin-bottom: 15px;
}


/* Estilos para los botones del menú de navegación (Header y Footer) */
nav ul li button, 
.footer-nav li button {
  background: none;
  border: none;
  color: #ffffff !important; /* Fuerza a que las letras sean siempre blancas */
  font: inherit;
  cursor: pointer;
  padding: 0;
  text-decoration: none !important; /* Elimina cualquier subrayado por defecto */
}

/* Quita el subrayado cuando pasas el mouse por encima */
nav ul li button:hover, 
.footer-nav li button:hover {
  text-decoration: none !important; /* Evita que se subraye al pasar el mouse */
  opacity: 0.8; /* Le da un toque sutil opaco al pasar el mouse (opcional, si te gusta) */
}